---
layout: post
title: ${post_title}
excerpt: Your excerpt goes here
tags: tag1, tag2
---
Your post content goes here. Replace this, along with the following paragraphs
with the actual content for your posts.

Ensure that the post title is what you intended.

You would also have to manually change the post excerpt and tags of this post.
